.handlersContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  .inputBlock{
    display: flex;
    width: 100%;
    flex-direction: column;

    span{
      opacity: 0.6;
      font-family: Andale Mono, monospace;
    }
  }
}

.inputForm{
  width: 99%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.inputForm:focus{
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

