.searchBlock{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.searchInputCards{
    width: 42%;
    height: 22px;
    padding: 6px 6px 6px 40px;
    margin-top: 10px;
    background: url('../../../utils/img/search-icon.svg') no-repeat 10px;
    background-size: auto 50%;
}

.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
    width: 30%;

}
.table thead tr th:nth-child(2){
    width: 30%;

}
.table thead tr th:nth-child(3){
    width: 15%;
}
.table thead tr th:nth-child(4){
    width: 15%;
}
.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
    width: 10%;
}