.input {
  width: 260px;
  height: 26px;
  padding-left: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;

  font-family: Andale Mono, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow:0 0 0 30px #ffffff inset !important;
}

.input:focus {
  border: 1px solid #0066cc;
  outline: none;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
  border: 1px solid #cc1439;
  border-radius: 5px;
}

.errorInput:focus {
  border: 1px solid red;
}

.error {
  margin-bottom: 5px;

  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  color: #cc1439;
  text-align: left;
}
