.stand {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 20px;

  div {
    margin-right: 50px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
}
