.sortIconContainer {
  display: block;
  width: 10%;
  flex-direction: column;
}

.sortIconContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  background: none;
  border: none;
  margin-bottom: 4px;
  cursor: pointer;
}
