
.table {
  width: 100%;
  border: none;
  margin: 20px 0;

}
.table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 14px;
}
.table thead tr th:first-child {
  border-radius: 8px 0 0 8px;
  width: 35%;
}
.table thead tr th:nth-child(2){
  width: 10%;
}
.table thead tr th:nth-child(3){
  width: 15%;
}
.table thead tr th:nth-child(4){
  width: 25%;
}
.table thead tr th:last-child {
  border-radius: 0 8px 8px 0;
  width: 15%;
}
.table tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}
.table tbody tr:nth-child(even){
  background: #f3f3f3;
}
.table tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}

.actionsBlock{
  display: flex;
  justify-content: space-evenly;
}
.actionsBlock img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.emptyPacks{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: red;
  font-weight: bold;
  width: 300%
}
