.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select{
  width: 70px;
  height: 40px;
  background: #FFFFFF;
  /* Neutral Dark/+90 */

  border: 1px solid #ECEBEB;
  border-radius: 2px;

}
.text1, .text2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.text1{
  margin-right: 10px;
}

.text2{
  margin-left: 10px;
}
